PORT=3300

# where this app is being served from
MY_BASEURL=http://localhost:3300/

# matches our local image hosting url
HOST_BASEURL=http://localhost:3300/images/

# used for login redirection
FRONTEND_BASEURL=http://localhost:3000/

# encrypts/decrypts our login tokens
PASETO_LOCAL_KEY=

# setup cli command:
# docker run --name dev-postgres -e POSTGRES_USER=drawref -e POSTGRES_PASSWORD=passed -p 5545:5432 postgres
DATABASE_URL=postgres://drawref:passed@localhost:5545/drawref

# github login details
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
